{% load static %}

<!--== Footer Start ==-->
<footer class="footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row wow fadeInUp" data-wow-delay="0.1s">
        <div class="col-md-8 centerize-col text-center">
          <div class="footer-logo">
            <a href="{% url 'home' %}"><img src="{% static 'logo/logo.png' %}" class="img-responsive centerize-col" alt="Footer Logo"/></a>
          </div>
          <div class="copy-right">© 2017 <span class="primary-color">Ninja WebTECH</span> All rights reserved</div>
          <ul class="social-media corporate mt-30 float-none">
            <li><a href="#" class="icofont icofont-facebook"></a></li>
            <li><a href="#" class="icofont icofont-twitter"></a></li>
            <li><a href="#" class="icofont icofont-behance"></a></li>
            <li><a href="#" class="icofont icofont-dribble"></a></li>
            <li><a href="#" class="icofont icofont-linkedin"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--== Footer End ==-->
