{% load static %}

{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>NINJA WEBTECH - STUNNING WEB DEVELOPMENT</title>
<link rel="shortcut icon" href="assets/images/favicon.ico">

<!-- Core Style Sheets -->
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<!-- Responsive Style Sheets -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- Revolution Style Sheets -->
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/navigation.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<!--== Loader Start ==-->
<div id="loader-overlay">
  <div class="loader">
    <div class="spinner-double-dot-in"></div>
  </div>
</div>
<!--== Loader End ==-->

<!--== Wrapper Start ==-->
<div class="wrapper">

  <!--== Header Start ==-->
  <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full no-border">
  	<!--== Start Top Search ==-->
    <div class="fullscreen-search-overlay" id="search-overlay"> <a href="#" class="fullscreen-close" id="fullscreen-close-button"><i class="icofont icofont-close"></i></a>
      <div id="fullscreen-search-wrapper">
        <form method="get" id="fullscreen-searchform">
          <input type="text" value="" placeholder="Type and hit Enter..." id="fullscreen-search-input" class="search-bar-top">
          <i class="fullscreen-search-icon icofont icofont-search">
          <input value="" type="submit">
          </i>
        </form>
      </div>
    </div>
    <!--== End Top Search ==-->
    <div class="container">
      <!--== Start Atribute Navigation ==-->
      <div class="attr-nav hidden-xs sm-display-none">
        <ul class="social-media-dark social-top">
          <li><a href="#" class="icofont icofont-facebook"></a></li>
          <li><a href="#" class="icofont icofont-twitter"></a></li>
          <li><a href="#" class="icofont icofont-linkedin"></a></li>
        </ul>
      </div>
      <!--== End Atribute Navigation ==-->

      <!--== Start Header Navigation ==-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="tr-icon ion-android-menu"></i> </button>
        <div class="logo"> <a href="{% url 'home' %}"><img class="logo logo-display" src="{% static 'logo/logo_black.png' %}" alt=""> <img class="logo logo-scrolled" src="assets/images/logo-studio-black.png" alt=""> </a> </div>
      </div>
      <!--== End Header Navigation ==-->

      <!--== Collect the nav links, forms, and other content for toggling ==-->
      <div class="review_navbar collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-center" data-in="fadeIn" data-out="fadeOut">
          <li class="#"><a href="{% url 'home' %}" class="">Home</a></li>
          <li><a class="page-scroll" href="{% url 'home' %}#about">About</a></li>
          <li><a class="page-scroll" href="{% url 'home' %}#work">Works</a></li>
          <li><a class="page-scroll" href="{% url 'home' %}#service">Services</a></li>
          <li><a class="page-scroll" href="{% url 'home' %}#team">Team</a></li>
          <li><a class="page-scroll" href="{% url 'home' %}#pricing">Pricing</a></li>
          <li><a class="page-scroll" href="{% url 'home' %}#blog">Blog</a></li>
          <li><a class="page-scroll" href="{% url 'home' %}#contact">Contact</a></li>
        </ul>
      </div>
      <!--== /.navbar-collapse ==-->
    </div>

  </nav>
  <!--== Header End ==-->

  <!--== Page Title Start ==-->
  <div class="transition-none">
      <section class="title-hero-bg parallax-effect" style="background-image: url(assets/images/background/parallax-bg-2.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page-title text-center text-white">
                <h1 class="raleway-font font-300">Leave a review</h1>
                <div class="breadcrumb col-md-12 mt-2 text-white bg-transparent">
                    <!-- Breadcrumb Start -->
                        <ul class="breadcrumb-item">
                          <li><a href="{% url 'home' %}">Home</a></li>
                          <li>Review</li>
                        </ul>
                    <!-- Breadcrumb End -->
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
  </div>
  <!--== Page Title End ==-->

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.1s">
        <form name="contact-form" id="contact-form" action="#." method="POST" class="contact-form-style-01">
          {% csrf_token %}
          <div class="messages"></div>
          <div class="row">

            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label for="name">Would be helpful to know your name *</label>
                <input type="text" name="name" class="md-input" id="name" required data-error="Your Name is Required">
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label for="message">A few words about your experience with us *</label>
                <textarea name="message" class="md-textarea" id="message" rows="7" required data-error="Please, Leave us a message"></textarea>
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12">
              <div class="text-left">
                <button type="submit" name="submit" class="btn btn-primary btn-md btn-square btn-animate remove-margin btn-zoom"><span>Send <i class="ion-android-arrow-forward"></i></span></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 " data-wow-delay="0.1s">
        <img src="{% static 'images/background/thank_you.jpg' %}" alt="side-logo"/>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.2s">
        <div id="myMap" class="wide"></div>
      </div>

    </div>
  </div>

  <!--== Footer Start ==-->
  <footer class="footer mt-4">
    <div class="footer-copyright">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="0.1s">
          <div class="col-md-8 centerize-col text-center">
            <div class="footer-logo">
              <a href="{% url 'home' %}"><img src="{% static 'logo/logo.png' %}" class="img-responsive centerize-col" alt="Footer Logo"/></a>
            </div>
            <div class="copy-right">© 2019 <span class="primary-color">Ninja WebTECH</span> All rights reserved</div>
            <ul class="social-media corporate mt-30 float-none">
              <li><a href="#" class="icofont icofont-facebook"></a></li>
              <li><a href="#" class="icofont icofont-twitter"></a></li>
              <li><a href="#" class="icofont icofont-behance"></a></li>
              <li><a href="#" class="icofont icofont-dribble"></a></li>
              <li><a href="#" class="icofont icofont-linkedin"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--== Footer End ==-->

  <!--== Go to Top  ==-->
  <a href="javascript:" id="return-to-top"><i class="icofont icofont-arrow-up"></i></a>
  <!--== Go to Top End ==-->

</div>
<!--== Wrapper End ==-->

<!--== Javascript Plugins ==-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/master.js' %}"></script>

<!-- Revolution js Files -->
<script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.video.min.js' %}"></script>
<!--== Javascript Plugins End ==-->

</body>
</html>
