{% load static %}
{% load hitcount_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>NINJA WEBTECH - STUNNING WEB DEVELOPMENT</title>
<link rel="shortcut icon" type="image/x-icon" href="/static/logo/favicon.png"/>

<!-- Core Style Sheets -->
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<!-- Responsive Style Sheets -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- Revolution Style Sheets -->
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/navigation.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="description" property="og:description" content="A software and web development company, based in Brasov.">
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta name="keywords" content="web development, software, website, programming, SEO, online marketing, support">
<meta name="author" content="Ninja WebTech">
<meta property="og:type" content="website">
<meta property="og:url" content="https://wwww.ninjaweb.tech/">
<meta property="og:site_name" content="Ninja WebTech">
<meta property="og:title" content="Ninja WebTech | Stunning, sharp websites and more" />
<meta property="og:description" content="A software and web development company, based in Brasov.">
<meta property="og:image" content="https://www.ninjaweb.tech/static/images/background/laptop4.png">
<meta property="og:image:alt" content="https://www.ninjaweb.tech/static/images/background/laptop4.png">

<link rel="canonical" href="https://wwww.ninjaweb.tech/">
</head>
<body>

<!--== Loader Start ==-->
<div id="loader-overlay">
  <div class="loader">
    <div class="spinner-double-dot-in"></div>
  </div>
</div>
<!--== Loader End ==-->

<!--== Wrapper Start ==-->
<div class="wrapper">

  <!--== Header Start ==-->
  <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full no-border">
  	<!--== Start Top Search ==-->
    <div class="fullscreen-search-overlay" id="search-overlay"> <a href="#" class="fullscreen-close" id="fullscreen-close-button"><i class="icofont icofont-close"></i></a>
      <div id="fullscreen-search-wrapper">
        <form method="get" id="fullscreen-searchform">
          <input type="text" value="" placeholder="Type and hit Enter..." id="fullscreen-search-input" class="search-bar-top">
          <i class="fullscreen-search-icon icofont icofont-search">
          <input value="" type="submit">
          </i>
        </form>
      </div>
    </div>
    <!--== End Top Search ==-->
    <div class="container">
      <!--== Start Atribute Navigation ==-->
      <div class="attr-nav hidden-xs sm-display-none">
        <ul class="social-media-dark social-top">
          <li><a href="#" class="icofont icofont-facebook"></a></li>
          <li><a href="#" class="icofont icofont-twitter"></a></li>
          <li><a href="#" class="icofont icofont-linkedin"></a></li>
        </ul>
      </div>
      <!--== End Atribute Navigation ==-->

      <!--== Start Header Navigation ==-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="tr-icon ion-android-menu"></i> </button>
        <div class="logo"> <a href="{% url 'home' %}"><img class="logo logo-display" src="{% static 'logo/logo.png' %}" alt=""> <img class="logo logo-scrolled" src="{% static 'logo/logo_black.png' %}" alt=""> </a> </div>
      </div>
      <!--== End Header Navigation ==-->

      <!--== Collect the nav links, forms, and other content for toggling ==-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-center" data-in="fadeIn" data-out="fadeOut">
          <li class="#"><a href="{% url 'home' %}" class="page-scroll">{% trans "Home" %}</a></li>
          <li><a class="page-scroll" href="{% url 'home' %}#about">{% trans "About" %}</a></li>
          <li><a class="page-scroll" href="{% url 'home' %}#work">{% trans "Portfolio" %}</a></li>
          <li><a class="page-scroll" href="{% url 'home' %}#service">{% trans "Services" %}</a></li>
          <!-- <li><a class="page-scroll" href="#team">Team</a></li> -->
          <li><a class="page-scroll" href="{% url 'home' %}#pricing">{% trans "Pricing" %}</a></li>
          <li><a class="page-scroll" href="{% url 'home' %}#blog">{% trans "Blog" %}</a></li>
          <li><a class="page-scroll" href="{% url 'home' %}#contact">{% trans "Contact" %}</a></li>
        </ul>
      </div>
      <!--== /.navbar-collapse ==-->
    </div>
    <!-- Start Side Menu -->
    <div class="side corporate dark-bg">
        <a href="{% url 'home' %}" class="logo-side"><img src="{% static 'logo/logo.png' %}" alt="side-logo"/></a>
            <a href="#" class="close-side"><i class="icofont icofont-close"></i></a>
            <div class="widget mt-120">
              <ul class="link">
                <li class="link-item"><a class="page-scroll" href="{% url 'home' %}">{% trans "Home" %}</a></li>
                <li class="link-item"><a class="page-scroll" href="{% url 'home' %}#about">{% trans "About" %}</a></li>
                <li class="link-item"><a class="page-scroll" href="{% url 'home' %}#work">{% trans "Portfolio" %}</a></li>
                <li class="link-item"><a class="page-scroll" href="{% url 'home' %}#service">{% trans "Services" %}</a></li>
                <li class="link-item"><a class="page-scroll" href="{% url 'home' %}#pricing">{% trans "Pricing" %}</a></li>
                <li class="link-item"><a class="page-scroll" href="{% url 'home' %}#blog">Blog</a></li>
                <li class="link-item"><a class="page-scroll" href="{% url 'home' %}#contact">Contact</a></li>
              </ul>
            </div>
            <ul class="social-media">
              <li><a href="#" class="icofont icofont-facebook"></a></li>
              <li><a href="#" class="icofont icofont-twitter"></a></li>
              <li><a href="#" class="icofont icofont-behance"></a></li>
              <li><a href="#" class="icofont icofont-social-dribble"></a></li>
              <li><a href="#" class="icofont icofont-linkedin"></a></li>
            </ul>

     </div>
     <!-- End Side Menu -->
  </nav>
  <!--== Header End ==-->

  <!--== Page Title Start ==-->
  <div class="transition-none">
      <section class="title-hero-bg parallax-effect" style="background-image: url(assets/images/background/laptop1.png);">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page-title text-center white-color">
                <h1 class="raleway-font font-300">{% trans "Blog Posts" %}</h1>
                <div class="breadcrumb col-md-12 text-centermt-2 bg-transparent">
                    <!-- Breadcrumb Start -->
                        <ul class="breadcrumb-item text-white">
                          <li><a href="index.html">{% trans "Home" %}</a></li>
                          <li>{% trans "Blog Posts" %}</li>
                        </ul>
                    <!-- Breadcrumb End -->
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
  </div>
  <!--== Page Title End ==-->

  <!--== Blog Details Start ==-->
  <section class="white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12 xs-mb-50">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 mb-50">
              {% if bloglist %}
              <ul class="single-blog-list">

                {% for post in bloglist %}
                <li>
                  <div class="post-wrap">
                    <div class="post-img">
                      <div class="date-box dark-bg">
                        <span class="day">{{ post.created_date.day }}</span>
                        <span class="month">{{ post.created_date|date:'M' }}</span>
                        <span class="month">{{ post.created_date|date:'y' }}</span>

                      </div>

                        <div class="item"><img class="img-responsive" src="{{ post.image.url }}" alt=""></div>
                        <!-- <div class="item"><img class="img-responsive" src="assets/images/post/post-06.jpg" alt=""/></div> -->
                    </div>
                    <div class="post-text">
                      <h3><a href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a></h3>
                      <p>
                        {{ post.text|striptags|safe|truncatechars:400 }}
                      </p>
                    </div>
                  </div>
                  <div class="post-meta text-center">
                      <span><i class="icofont icofont-user-male"></i><a href="#">{{ post.author }}</a></span>
                      {% for tag in post_tags %}
                      <span><i class="icofont icofont-ui-tag"></i><a href="#">{{ tag.name }} </a> </span>
                      {% endfor %}
                      <span><i class="icofont icofont-comment"></i><a href="#">{{ post.comm_count }} Comments</a></span> <span><i class="icofont icofont-simple-right"></i><a href="#">{% get_hit_count for post %} Views</a></span>
                  </div>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <!--== Post End ==-->
            <!-- == Pagination navigation == -->
            <nav aria-label="Page navigation example">
              {% if is_paginated %}
              <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{page_obj.previous_page_number}}"> &laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#">&laquo;</a>
                </li>
                {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %} {% endfor %} {% if page_obj.has_next %}
                <li class="page-item">
                  <a href="?page={{page_obj.next_page_number}}" class="page-link">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
            </nav>
            <!-- == Pagination navigation end == -->
          </div>
          <!-- == END RECENT POSTS == -->
          <!-- == POSTS NAVIGATION == -->
          <!-- <div class="row mt-100">
              <div class="col-md-12">
                  <div class="text-center">
                    <div class="pagination text-uppercase dark-color">
                    {% if is_paginated %}
                          <ul>
                              {% if page_obj.has_previous %}
                              <li><a href="?page={{page_obj.previous_page_number}}"><i class="icofont icofont-long-arrow-left mr-5 xs-display-none"></i> Prev</a></li>
                              {% else %}
                              <li class="page-item disabled">
                                <a class="page-link" href="#">&laquo;</a>
                              </li>
                              {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                              <li class="active"><a href="#">{{i}}</a></li>
                              {% else %}
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">Next <i class="icofont icofont-long-arrow-right ml-5 xs-display-none"></i></a></li>
                          {% endif %}
                          </ul>
                    {% endif %}
                      </div>
                  </div>
              </div>
          </div> -->
        </div>

    <!-- == SIDE MENU == -->

        <!-- == SEARCH INPUT == -->
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="widget sidebar_widget">
            <h5 class="aside-title">Search</h5>
            <form class="search-form" method="get">
              <input type="text" name="name" class="md-input" id="search" required="" placeholder="Type what it's your mind...">
              <button type="submit" class="icofont icofont-search-alt-2 search-submit"></button>
            </form>
          </div>
          <div class="mb-50">
            <h5 class="aside-title">About Us</h5>
            <a href="{% url 'home' %}">
              <img src="{% static 'images/background/programing1.png' %}" alt="about-me" />
            </a>
            <p class="font-300 mt-3">Hi there! </p>
            <p class="font-300 mt-3">We are a small software development company, set on doing big things. We create modern, fully responsive websites, using python and django, 100% customisable. We are fast, always listening to feedback and to your needs, always commited to do the our best, with no compromises.</p>
            <a class="btn btn-md btn-dark-outline btn-square mt-1"></a>
          </div>
          <div class="sidebar_widget widget_archive mb-5">
            <h5 class="aside-title">Archive</h5>
            <ul>
              {% for item in count_posts %}
              <li> <a href="#">{{ item.0 }}</a> <span>{{ item.1 }}</span></li>
              {% endfor %}
              <!-- <li> <a href="#">May 2017</a> <span>8</span></li>
              <li> <a href="#">June 2017</a> <span>63</span></li>
              <li> <a href="#">Febuary 2012</a> <span>45</span></li>
              <li> <a href="#">April 2016</a> <span>88</span></li> -->
            </ul>
          </div>
          <div class="social-icons-style-06 mb-5">
            <h5 class="aside-title text-uppercase">Follow Us</h5>
            <ul class="xs-icon">
              <li><a class="icon facebook" href="#."><i class="icofont icofont-facebook"></i></a></li>
              <li><a class="icon twitter" href="#."><i class="icofont icofont-twitter"></i></a></li>
              <li><a class="icon tumblr" href="#."><i class="icofont icofont-tumblr"></i></a></li>
              <li><a class="icon flicker" href="#."><i class="icofont icofont-flikr"></i></a></li>
              <li><a class="icon instagram" href="#."><i class="icofont icofont-instagram"></i></a></li>
            </ul>
          </div>

          <div class="sidebar_widget widget_categories mb-5">
            <h5 class="aside-title">{% trans "Categories" %}</h5>
            <ul>
              {% for cat in categories %}
              <li> <a href="#">{{ cat|title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="sidebar_widget widget_tag_cloud mb-50">
            <h5 class="aside-title">Tags</h5>
            <div class="post-tags">
              {% for tag in post_tags.objects.all %}
              <a href="#">{{ tag.names }}</a>
              {% endfor %}
              <!-- <a href="#">Marketing</a>
              <a href="#">Photography</a>
              <a href="#">Illustration</a>
              <a href="#">Development</a>
              <a href="#">Multipurpose</a>
              <a href="#">Creativity</a>
              <a href="#">Apps</a>
              <a href="#">Fashion</a>
              <a href="#">Concept</a>
              <a href="#">Design</a> -->
            </div>
          </div>

          <div class="sidebar_widget widget_recent_post mb-50">
            <h5 class="aside-title">Recent Posts</h5>
            {% for post in blog_posts %}
            <div class="post-item">
              <div class="post-thumb">
                <a href="{% url 'blog_detail' post.slug %}"><img width="75" height="75" src="{{ post.image.url }}" class="img-responsive" alt="{{ post.title }}"/></a>
              </div>
              <div class="post-body">
                <span class="font-14px"><a href="">{{ post.title|title }}</a></span>
                <div class="post-time">{{ post.created_date|date:'F Y' }} </div>
                <a href="" class="subtitle">{{ post.category }}</a>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>

  </section>
  <!--== Blog Details End ==-->

  <!--== Footer Start ==-->
  {% include 'ninjawebtech_app/footer.html' %}
  <!--== Footer End ==-->

  <!--== Go to Top  ==-->
  <a href="javascript:" id="return-to-top"><i class="icofont icofont-arrow-up"></i></a>
  <!--== Go to Top End ==-->

</div>
<!--== Wrapper End ==-->

<!--== Javascript Plugins ==-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/master.js' %}"></script>

<!-- Revolution js Files -->
<script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.video.min.js' %}"></script>
<!--== Javascript Plugins End ==-->

</body>
</html>
