@media (max-width:1199px){
    .hero-text h1{font-size:74px;}
    .hero-text h2 {font-size: 55px;}
	/* heights */
  .whoweare .contactus_button {
    margin-top: 0.5em;
    width: 100%;
  }
  .whoweare .btn-dark {
    width: 100%;
  }

}
@media screen and (max-width:1200px) {
  section, .about-section {padding-top:20px;padding-bottom:20px;position: relative;z-index: 10;background:#f5f5f5;overflow: hidden;}
}
@media (max-width:1024px){
	.side .widget ul.link li{float:right;font-size:23px;margin-bottom: 10px;}
  .language_dropdown .language {
    color: white;
    font-size: 1rem;
    width: 7rem;
    background-color: #212529;

  }
  .language_dropdown .lang_button {
    color: white;
    font-size: 1rem;

    background-color: #212529;

  }
  .language_dropdown {
    right: 50px;}
}






@media (min-width:768px){
	.feature-box-right{width:100%;}

}

@media (min-width:1199px) {
  .whoweare .contactus_button {
    margin-top: 0em;
  }
  .language_dropdown {
    right: 10px;
  }
}

@media (min-width:1301px){
  .testimonial .slide {
    margin-left: 30em;
    margin-right: 30em;
  }

}
@media (min-width:1101){
  .testimonial .slide {
    margin-left: 15em;
    margin-right: 15em;
  }

}

@media (max-width:1100px){
  .testimonial .slide {
    margin-left: 10em;
    margin-right: 10em;
  }
}
@media (max-width:1024px){
  /* .counter-wrap{margin: 0px;} */
  nav.navbar.bootsnav.navbar-fixed{height:auto;}
	nav.navbar.bootsnav.navbar-transparent .logo, .logo{text-align: left;height: 60px;}
	/* .footer-height {display: none;} */
  .testimonial .slide {
    margin-left: 5em;
    margin-right: 5em;
  }
  /* === Particle sliders text */
  .top-slides li div.brand {
    font-size: 5rem !important;
  }
  .top-slides li div.advertising span {
    font-size: 1.2rem !important;
  }
  .language_dropdown {
    right: 1px;

  }

  .language_dropdown .language {
    font-size: 0.7rem;
  }
  .language_dropdown .lang_button {
    font-size: 0.7rem;
  }

  /* == SKILL BARS == */


	/*sm margins*/

  .white-bg .phone {
    margin-top: 80px;
  }


	/*sm paddings*/

	.sm-pt-70{padding-top:70px;} */
	.sm-pt-80{padding-top:80px;}

	.sm-pb-80{padding-bottom:80px;}



	.sm-font-60px {font-size: 60px!important;}



	.sm-line-height-70 {line-height: 70px!important;}


	.section-title h1 {font-size:2.187em;}
  .section-title h1 span {font-size:1.07em;}

	.section-title h2 {font-size:1.3125em;}
  .section-title h2 span {font-size:1.3125em;}

	nav.navbar.bootsnav .navbar-nav > li > a{margin-bottom: 0px;}
	.cbp-l-filters-alignCenter .cbp-filter-item{margin: 0 18px;}
	.md-icon.left-icon li{margin-right: 4px;}
	.skillbar-style-01 .skillbar{width:88%;}
  .col-inner.spacer{padding: 0px;}
}


@media (max-width:768px){
	.attr-nav {display:none!important;}
  .top-slides li div.brand {
    font-size: 4.5rem !important;
  }
  .call-to-action h5 {
    font-size: 3em;
  }
  .display-table h1 {
    font-size: 3em;
  }
  .testimonial .slide {
  	cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;
  }
  .about-section .mission-section .about-title {
    text-align: center;
    align-items: center;
  }
  .about-section .mission-section hr.left-line {
    display: none;about-center-line
  }
  .about-section .mission-section hr.about-center-line {
    display: flex;
    text-align: center;
    align-items: center;
    width: 60px;
  }
  .about-section .col-inner .spacer {
    padding: 5px;
  }
  .whoweare .contactus_button {
    width: 100%;
    margin-top: 20px;
    background-color: #40E0D0;
    color: white;
  }
  .whoweare .btn-dark {
    width: 100%;
  }
  /* .language_dropdown {
    color: white;
    position: absolute;

  } */

	/* .testimonial-item .testimonial-content {padding: 100px 50px 50px;}
	.testimonial-style-3 .testimonial-item .testimonial-content{padding: 0px 50px 0px;}
	.testimonial-item{padding-left: 15px;padding-right: 15px;}
	ul.social-top li a{padding-right:10px;} */
	/* .bg-flex-cover{min-height:300px;} */
  .bg-flex{min-height: 400px;margin: -120px 0 60px;position: relative!important;z-index: 0;}
	nav.navbar.bootsnav.navbar-transparent.brand-center .navbar-brand{padding: 12px 15px;}
	/* .sm-spacer-mt-80{margin-top:80px;} */
	nav.navbar.bootsnav.navbar-transparent.white ul.nav > li > a.nav-btn-default, nav.navbar.bootsnav ul.nav > li > a.nav-btn-default{margin: 20px 0 20px 0;}
	/* ul.cart-list{border-top: 0 !important;} */
	/* .img-box{margin-bottom:25px;} */
	/* .btn-mobilize .btn {margin: 10px auto !important;display: table;min-width: 160px;} */
  .whoweare .container .skillrow .skill-image {
    margin-top:2rem;}
  .whoweare .container .skillrow {

  }
  .pricing-table .pricing-box .plan-name h3 {
    font-size: 2em;
    margin-top: 3em;
    width: 100%;
  }
  .pricing-table .pricing-box .value h3 {
    font-size: 1.8em;
    margin-top: 1em;
    width: 100%;
  }
  .pricing-table .pricing-box .sep_lines {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 50%;
    opacity: 30%;
    border-top: 1px solid #808080;
  }
  /*=== review button ===*/
  section.review {

    height: 70px;
  }
  /* section.review .justify-content-center {
    top:0px;
  } */
  section.review .btn {
    font-size: 0.9rem;
  }
}



@media (min-width:767px) and (max-width:991px){
	.slider-bg .hero-text h1, .hero-text h1{font-size: 70px;}
	.counter, .copy-right, .post{margin-bottom:30px;}
	/* .embed-container, .contact-us h3{margin-top:20px;} */
	.copy-right, .footer-copyright ul.social-media{text-align:center;}
	.footer-copyright ul.social-media{float: none;}
	/* .flex-direction-nav a:before{font-size:35px;} */
	h4{line-height:30px;}
	.countdown-container .countdown li {min-width: 110px;padding: 20px 10px;width: 110px;margin-right: 20px;}
	.countdown li span {font-size: 30px;}
	.countdown li p {font-size: 14px;margin-bottom: 0;}
  .whoweare .contactus_button {
    margin-top: 0.5em;
  }


	/* .error-cover-bg p, .coming-cover-bg p{font-size: 18px;line-height: 32px;} */
	/* .col-about-right, .widget-list ul, ol {padding-left: 30px;} */
	/* .right-col-rv{margin-top:50px;} */
  /* .bg-flex-cover{min-height:350px;} */

}
@media (max-width:766px) {
  .whoweare .section-title .about-me {display: flex;flex-direction: column-reverse;justify-content:space-around;;align-items: center;margin-top:40px;margin-bottom: 40px;}
  .about-me span {border: 6px solid #212121;border-radius: 9px;margin-bottom: 40px;width:100%;height:auto;position: relative;margin:0px 30px 0px;}
  .about-me-text {margin: 40px 0px 0px 0px;}
  .about-me span img {object-fit: fill; }
  .about-me .about-me-text p {align-items: center;justify-content:center;margin:0px 20px 0px;}
}
@media (max-width:650px){
  .language_dropdown {
    right: 110px;
  }
}
@media (min-width:481px) and (max-width:766px){
	.slider-bg .hero-text h1, .hero-text h1, .error-cover-bg h1, .coming-cover-bg h1 {font-size: 70px!important;}
	.feature-box, .counter, .copy-right, .post{margin-bottom:30px;float:none;}
	/* .embed-container, .contact-us h3{margin-top:20px;} */
	.copy-right, .footer-copyright ul.social-media{text-align:center;}
	.footer-copyright ul.social-media{float: none;}
	/* .flex-direction-nav a:before{font-size:35px;} */
	h4{line-height:30px;}

}

@media (min-width:320px) and (max-width:680px){

	.counter, .copy-right, .post{margin-bottom:30px;}
	/* .embed-container, .contact-us h3{margin-top:20px;} */
	.copy-right, .footer-copyright ul.social-media{text-align:center;}
	.footer-copyright ul.social-media{float: none;}

	h4{line-height:30px;}


	h2{font-size:30px;}

	.attr-nav > ul > li > a.btn{display:none;}
  .top-slides li div.brand {
    font-size: 4rem !important;
  }
	.fullscreen-search-overlay #fullscreen-search-wrapper #fullscreen-searchform #fullscreen-search-input{width: 250px;font-size: 18px;min-width: 100%;}
	.fullscreen-search-overlay #fullscreen-search-wrapper #fullscreen-searchform .fullscreen-search-icon{top:20px;}
	.cbp-l-filters-alignCenter .cbp-filter-item, .cbp-l-filters-alignRight .cbp-filter-item{padding: 20px 0 0 0;margin: 0 10px;}
	/* .center-feature{float:none;} */

	/*xs paddings*/


	/* Font Size */


	.xs-font-40px {font-size: 40px!important;}


	/* Line Heights */

	.xs-line-height-50 {line-height: 50px!important;}

	/* Floats */

	.our-process-style-02 .line:after, .our-process-style-01 .line:after, .our-process-style-01 .line:before{display: none;}

	.testimonial-item .testimonial-content{padding: 50px 50px 40px;margin: 20px auto;}
	.md-icon.left-icon li{margin-bottom:10px;}
  .section-title h1 {font-size:2.187em;}
  .section-title h1 span {font-size:1.07em;}

	.section-title h2 {font-size:1.3125em;}
  .section-title h2 span {font-size:1.3125em;}
	nav.navbar.bootsnav .navbar-nav > li > a{margin-bottom: 0px;}
}

@media (max-width:320px){

	.btn + .btn, .check-btns .btn + .btn{margin-left:0!important;margin-top:10px!important;}

	h2{font-size:30px;}
	.attr-nav{display:none;}
}
